.inContainer{
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    align-self: center;
    height: auto;
    min-height: 400px;;
    color : #3f51b5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.deja{
    background: url('src/assets/img/dejainscrit.jpg') no-repeat;
    background-size: contain;
    height: 250px;
    width: 100%;
}
.inscrit{
   text-align: right;
   padding: 32px;
   font-size: 1.3em;
}
.mat-button{
    background-color:#95adcb;
    width: 50%;
    margin: auto;
    font-family: 'Russo One', sans-serif;
  }
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field{
    padding: 4px;
    font-size: 0.8em;
  }

  @media screen and (max-width: 780px) {
    .inContainer{
      height: auto;
      margin: 8px;
    }
    .deja{
      background-size: cover;
    }
  }