@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0%;
    font-family: 'Russo One', sans-serif;
    font-weight: lighter;
}
*{
    padding: 0;
    margin: 0;
}
h3{
    font-size: 1.3em;
   
}

