@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0%;
    font-family: 'Russo One', sans-serif;
    font-weight: lighter;
    height: 100vh;
}
app-root{
    height: 100%;
    width: 100%;
    display:inline-block
}

*{
    padding: 0;
    margin: 0;
}
h3{
    font-size: 1.3em;
   
}
.primary{
    background-color: #3f51b5 ;
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.75);
}
.secondary{
    background-color: #95adcb;
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.75);
}

