*{
    background-color: #95adcb;
}
.contain{
    display: flex;
    justify-content: space-around;
    height: 92vh;
}
.containConnect{
    display: flex;
    height: 92vh;
}
.connected{
    align-self: center;
    margin: auto;
    text-align: center;
}
.mat-button{
    background-color:#3f51b5;
    width: 50%;
    margin: auto;
    font-family: 'Russo One', sans-serif;
    align-self: center;
  }
app-signin{
    width: 45%;
    align-self: center;
    
}
.ou{
    height: 400px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    color : #3f51b5;
}
.sep{
    width: 1px;
    background-color:  #3f51b5;
    height: 40%;
    align-self: center;
    }
app-signup{
    width: 45%;
    align-self: center;
}

@media screen and (max-width: 780px) {
    .containConnect{
        height: 100%;
    }
    .contain{
        flex-direction: column;
        justify-content: unset;
        height: 100%;
    }
    .ou{
        flex-direction: row;
        height: 30px;
    }
    .sep{
        height: 2px;
        width: 35vw;
        margin: 8px;
    }
    app-signup{
        width: 98%;
        height: 100%;
    }
    app-signin{
        width: 98%;
        height: auto;
    }
}