.container{
    width:90%;
    height: 90%;
    font-family: 'Russo One', sans-serif;
    display : flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 8px;
}
h1{
    text-align: center;
}
div{
    margin: 8px;;
}
p{
    color : rgb(92, 86, 86)
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img{
    height: 500px;
    width: auto;
    margin: auto;
    padding: 16px;
}


.promo{
    background-color: red;
    color : white;
    font-size: 1em;
    margin : 8px;
    padding : 4px;
}
.price{
    display: flex;
    justify-content: flex-end;
}
.priceContain{
    display: flex;
    flex-direction: column;
}
.oldprice{
    text-align: right;
    text-decoration: line-through;
    font-size: 1em;
}
.newprice{
    font-size: 2em;;
}