.bar{
    padding-top : 10%;
    background-color:  #95adcb;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Russo One', sans-serif;
    color : #3f51b5;
    align-self: center;
}
img{
    width: 30px;
    height: 30px;;
}

@media screen and (max-width: 780px) {
    h4{
        display: none;
    }
    .mat-button{
        min-width: 40px;
    }
    img{
        text-align: center;
        margin : auto;
    }
}