<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon><img src="./../assets/img/menu.png" class="menu"></mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span>Everest Sport</span>
      <img src="./../assets/img/logo.png" class="logo">
    </a>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/">
        <mat-menu #appHiverMenu="matMenu">
          <button routerLink="/ski" mat-menu-item>Ski</button>
          <button routerLink="/snowboard" mat-menu-item>Snowbard</button>
          <button routerLink="/raquette" mat-menu-item>Raquettes</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appHiverMenu">
          <mat-icon>Hiver</mat-icon>
        </button>
      </a>
      <a mat-button routerLink="/">
        <mat-menu #appEteMenu="matMenu">
          <button routerLink="/rando" mat-menu-item>Rando</button>
          <button routerLink="/esacalade" mat-menu-item>Escalade</button>
          <button routerLink="/camping" mat-menu-item>Camping</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appEteMenu">
          <mat-icon>Ét</mat-icon>
        </button>
      </a>
      <a mat-button routerLink="/promos">Promos</a>
      <a mat-button routerLink="/signup"><img src="./../assets/img/connect.png" class="cart"></a>
      <a mat-button routerLink="/cart"><img src="./../assets/img/cart.png" class="cart"></a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">Hiver</a>
        <a mat-button routerLink="/prices">Été</a>
        <a mat-button routerLink="/promos">Promos</a>
        <a mat-button routerLink="/cart"><img src="./../assets/img/cart.png" class="cart"></a>
      </div>
    </mat-sidenav>
   
      <router-outlet></router-outlet>
   
  </mat-sidenav-container>
</div>