<div class="bigpromo" *ngIf="product">
    <h3>PROMO DU MOIS</h3>
    <div class="prod">
        <a routerLink="/ski"><img [src]="product.photo" mat-card-image></a>

    </div>
    <h4> {{product.name}}</h4>
    <div>
        <span class="promo">PROMO : {{product.promo}}%</span><span class="oldprice">{{product.priceTTC}}€</span></div>
    <div class="newprice">
        {{ (product.priceTTC-product.priceTTC*product.promo/100).toFixed(2).replace('.',',')}}€
    </div>
    <button mat-button (click)="goToProduct()">J'en profite !</button>

    <button mat-button>A thing I'm ok with</button>

</div>