.upContainer{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.formContainer{
  display: flex;
  flex-direction: column;
}
.mat-button{
  background-color:#95adcb;
  width: 50%;
  margin: auto;
  font-family: 'Russo One', sans-serif;
}